@font-face {
  font-family: "Prata";
  src: url("./fonts/Prata-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("./fonts/inter/Inter-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("./fonts/inter/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./fonts/inter/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("./fonts/inter/Inter-Bold.ttf") format("ttf");
}

body {
  padding: 0;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgba(255, 255, 255, 0.95);
  font-family: "Prata", serif;
  font-weight: 400;
  margin: 0;
}

section {
}

ul {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  padding: 0 10px;
}

.header {
  padding-top: 15px;
}

.header .navbar .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar .navbar-brand .logo {
  font-family: "Prata";
  font-weight: 500;
  font-size: 1.3em;
}

.header .navbar .navbar-nav {
  display: none;
}

.about-section {
  padding-top: 100px;
}
.about-title {
  font-weight: 300;
  font-size: 2.3em;
}

/* PARTNERS */
.partner-section {
  padding: 100px 0;
}
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners li {
  list-style: none;
}
.partners li {
  padding: 10px 15px;
}

/* PROJECTS */
.project-item img {
  width: 100%;
  height: auto;
}
.project-item h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-item + .project-item {
  padding-top: 40px;
}

footer {
  background-color: aliceblue;
  text-align: center;
}
